[gcode_macro LOAD_FILAMENT]
gcode:
   M83    ; set extruder to relative
   M106 S255                       ; Partcooling fan to max
   G1 E30 F300                    ; load
   G1 E15 F150                    ; prime nozzle with filament
   M106 S0                         ; Partcooling fan to off
   M82                            ; set extruder to absolute
    
[gcode_macro UNLOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   M106 S255
   G1 E10 F300                    ; extrude a little to soften tip
   G1 E-40 F1200                  ; retract some, but not too much or it will jam
   M82   
   M106 S0

######
###############################################